body,html {
    margin: 0;
    font-family: Madefor, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


body, html, #root {
    height: 100%;
}



.scroll::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
}
.scroll::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}
.scroll::-webkit-scrollbar-thumb {
    background-color: #ccc;    /* color of the scroll thumb */
    border-radius: 2px;       /* roundness of the scroll thumb */
    border: 1px solid #dadada;  /* creates padding around scroll thumb */
}

.akEditor {
    display: flex !important;
    max-height: 450px !important;
}


.akEditor > div:nth-child(2)::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */

}
.akEditor > div:nth-child(2)::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}
.akEditor > div:nth-child(2)::-webkit-scrollbar-thumb {
    background-color: #ccc;    /* color of the scroll thumb */
    border-radius: 5px;       /* roundness of the scroll thumb */
    border: 1px solid #dadada;  /* creates padding around scroll thumb */
}
.akEditor > div:nth-child(2) {
    flex:1;
    overflow-y: scroll;
}
